@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <img src="https://t3.ftcdn.net/jpg/01/15/28/16/360_F_115281675_gWSVNWDa5xGVaJBBQOyODtflAwqYReiy.jpg" width=500px height=500px>
    <h1 class="display-4">Welcome to Official United State Elections!!! </h1>

</div>
 